<!DOCTYPE html>
<html lang={{ .Site.LanguageCode }}>
{{ partial "header.html" . }}

<body>
    <div class="container my-3">
    {{ block "main" . }}
    {{ end }}
    </div>

    <!--
    <script src="{{ "/js/jquery-3.1.1.min.js" | relURL }}"></script>
    <script src="{{ "/js/bootstrap.min.js" | relURL }}"></script>
    -->
</body>
</html>
