<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#2196F3" />
    {{ .Hugo.Generator }}

    {{- with .Description | default .Site.Params.description }}
    <meta name="description" content="{{ . }}" />
    {{- end }}

    {{- with .Title | default .Site.Title }}
    <title>{{ . }}</title>
    {{ end -}}

    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | relURL }}">
    <link rel="icon" type="image/x-icon" href="{{ "/img/peach.ico" | relURL }}">
</head>
