{{- if or ( .Site.Params.email) ( .Site.Params.github ) ( .Site.Params.gitlab ) ( .Site.Params.linkedin ) ( .Site.Params.twitter ) ( .Site.Params.instagram ) }}
<div class="text-center">
    {{- with .Site.Params.email }}
    <a href="mailto:{{ . }}" class="btn btn-lg btn-outline-secondary my-1" target="_blank">
        Email
    </a>
    {{- end }}
    {{- with .Site.Params.github }}
    <a href="https://github.com/{{ . }}" class="btn btn-lg btn-outline-secondary my-1" target="_blank">
        GitHub
    </a>
    {{- end }}
    {{- with .Site.Params.gitlab }}
    <a href="https://gitlab.com/{{ . }}" class="btn btn-lg btn-outline-secondary my-1" target="_blank">
        GitLab
    </a>
    {{- end }}
    {{- with .Site.Params.linkedin }}
    <a href="https://linkedin.com/in/{{ . }}" class="btn btn-lg btn-outline-primary my-1" target="_blank">
        LinkedIn
    </a>
    {{- end }}
    {{- with .Site.Params.twitter }}
    <a href="https://twitter.com/{{ . }}" class="btn btn-lg btn-outline-secondary my-1" target="_blank">
      Twitter
    </a>
    {{- end }}
    {{- with .Site.Params.instagram }}
    <a href="https://instagram.com/{{ . }}" class="btn btn-lg btn-outline-secondary my-1" target="_blank">
        Instagram
    </a>
    {{- end }}
</div>
{{- end }}
