{{ define "main" }}
<div class="jumbotron">
    <div class="text-center">
        <h1>{{ .Site.Params.author }}</h1>
        <p class="lead">{{ .Site.Params.authorDescription }}</p>

        <hr>

        {{ partial "social_links.html" . }}
    </div>
</div>
{{ end }}